key,value
year,07
postal_code,1600000
address_1,東京都新宿区西新宿1-1-101
name_katakana,ヤマダ・タロウ
furigana,ヤマダ タロウ
occupation,エンジニア
phone_1,090
phone_2,0000
phone_3,0000
my_number,000000000000
dob_era,3
dob_year,50
dob_month,01
dob_day,01
fx_USD,149.71
fx_source,IRS TTM 2025
